:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Montserrat", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-size: 46px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.email:visited {
  color: var(--branding-color);
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.about-section {
  padding: 100px 20px 20px 30px;
  text-align: center;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
}
.project-section {
  text-align: center;
  margin: 80px 0 0 60px;
  padding: 20px;
}
.project-section h1 {
  font-size: 60px;
  line-height: 80px;
}
.project-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.project-content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 30px 0 0;
  font-family: var(--default-font-family);
}
.project-content p {
  font-size: 14px;
}
.project-content img {
  transition: all 0.3s ease;
}
.project-content img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.project-content {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-section {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
}
.contact-section h1 {
  font-size: 60px;
  line-height: 80px;
}
.navbar {
  background: var(--secondary-color) !important;
}
.contact-img {
  color: var(--branding-color);
}

/*about.html*/
.work {
}
.position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--branding-color);
}
.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.worklist {
  padding: 0;
  margin-left: 15px;
}
.worklist-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education styles */
.education {
  margin-top: 40px;
}

.faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.companies,
.education {
  text-align: left;
  display: flexbox;
}
.work-experience {
  background-color: var(--secondary-color);
  padding: 40px 100px;
}
.tech-skills-item,
.soft-skills-item {
  color: var(--branding-color);
}
.tech-skills-text,
.soft-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}


@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
    margin-top: 30px;
  }
  .project-section {
    text-align: center;
    padding: 0;
    margin-top: 30px;
  }
  .project-section h1 {
  font-size: 44px;
  line-height: 1.5;
}
}

@media (max-width: 576px) {
  body {
    text-align: center !important;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 40px;
    line-height: 2;
    text-align: center;
  }
  h2 {
    font-size: 34px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .about-section {
    text-align: center;
    padding: 0;
    margin-top: 30px;
  }
  .project-section {
    padding: 0;
    margin-top: 30px;
  }
   .project-section h1 {
  font-size: 44px;
  line-height: 1.5;
   }
  img {
    display: 80%;
  }
}
